SUBSYSTEM=="leds", KERNEL=="huawei::logo", RUN+="/bin/chgrp plugdev /sys/class/leds/%k/brightness", RUN+="/bin/chmod 0664 /sys/class/leds/%k/brightness"
